In [ ]:
import twint
import nest_asyncio
nest_asyncio.apply()

In [ ]:
# Configure
c = twint.Config()
c.Search = "#Flood"
c.Store_csv= True
c.Output="Flooding.csv"

# Run
twint.run.Search(c)

In [1]:
import pandas as pd

In [11]:
Data = pd.read_csv("Flooding.csv")
Data.head(3)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1391446125564121088,1391372027479707648,2021-05-09 19:33:02 EET,2021-05-09,19:33:02,200,1329709235979104256,ynyshir2020,Stop Ynyshir Wind Farm 2020,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': '82LeeG', 'name': '82Lee', 'i...",NaN,NaN,NaN,NaN
1,1391441584915312640,1391441584915312640,2021-05-09 19:15:00 EET,2021-05-09,19:15:00,200,183688400,livewxradar,Rob Delp Weather,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1391435489165463556,1391435489165463556,2021-05-09 18:50:46 EET,2021-05-09,18:50:46,200,329923777,djsangsta,Sangsta's Music,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [12]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21627 entries, 0 to 21626
Data columns (total 36 columns):
id                 21627 non-null int64
conversation_id    21627 non-null int64
created_at         21627 non-null object
date               21627 non-null object
time               21627 non-null object
timezone           21627 non-null int64
user_id            21627 non-null int64
username           21627 non-null object
name               21627 non-null object
place              195 non-null object
tweet              21627 non-null object
language           21627 non-null object
mentions           21627 non-null object
urls               21627 non-null object
photos             21627 non-null object
replies_count      21627 non-null int64
retweets_count     21627 non-null int64
likes_count        21627 non-null int64
hashtags           21627 non-null object
cashtags           21627 non-null object
link               21627 non-null object
retweet            21627 non-null bool
quote_url          1419 non-null object
video              21627 non-null int64
thumbnail          12640 non-null object
near               0 non-null float64
geo                0 non-null float64
source             0 non-null float64
user_rt_id         0 non-null float64
user_rt            0 non-null float64
retweet_id         0 non-null float64
reply_to           21627 non-null object
retweet_date       0 non-null float64
translate          0 non-null float64
trans_src          0 non-null float64
trans_dest         0 non-null float64
dtypes: bool(1), float64(10), int64(8), object(17)
memory usage: 5.8+ MB

In [13]:
Data_filtered = Data.drop(columns=["conversation_id","created_at","name","user_rt_id","place",
                                   "language","mentions","urls","photos","replies_count","retweets_count",
                                   "likes_count","link","quote_url","video","thumbnail",
                                   "near","geo","source","user_rt","retweet_id","retweet_date","translate",
                                    "trans_src","trans_dest","retweet","cashtags"] ,inplace = True)

In [14]:
Data

,id,date,time,timezone,user_id,username,tweet,hashtags,reply_to
0,1391446125564121088,2021-05-09,19:33:02,200,1329709235979104256,ynyshir2020,@82LeeG @RhonddaBryant @RCTCouncil ...and now ...,"['flooding', 'flood', 'trefforest']","[{'screen_name': '82LeeG', 'name': '82Lee', 'i..."
1,1391441584915312640,2021-05-09,19:15:00,200,183688400,livewxradar,Forecast map for early today https://t...,"['wx', 'weather', 'storm', 'flood', 'rain', 'f...",[]
2,1391435489165463556,2021-05-09,18:50:46,200,329923777,djsangsta,#First4Songs on 5-9-21: #Promises by #Nero; #C...,"['first4songs', 'promises', 'nero', 'concertod...",[]
3,1391425730437816322,2021-05-09,18:12:00,200,3088630438,calderdaleforum,The Councilâ€™s latest newsletter is out and weâ€™...,"['cmbc', 'calderdale', 'flood', 'covid19']",[]
4,1391422799433113600,2021-05-09,18:00:21,200,1173295284874596358,umbc_floodbot,Current Temp at Hamilton Str. Prkng Lot D on 0...,"['ellicottcity', 'flood', 'flashflood', 'flood...",[]
...,...,...,...,...,...,...,...,...,...
21622,1352073453990506500,2021-01-21,04:00:06,200,2698477658,riverouseyork,River Ouse York water level: 4.13m at 01:15. B...,"['flood', 'york', 'ouse', 'rising']",[]
21623,1352068367289614337,2021-01-21,03:39:53,200,202811175,derbyshiredales,The @envagency has placed new #FloodWarning on...,"['floodwarning', 'churchtown', 'northwood', 'f...",[]
21624,1352064850843758593,2021-01-21,03:25:55,200,2276880895,petabencana,"@Geisyal Hi, Iâ€™m Disaster Bot. To report flood...",['flood'],[]
21625,1352058750375350273,2021-01-21,03:01:40,200,2276880895,petabencana,"@b3_cc8 Hi, Iâ€™m Disaster Bot. To report floodi...",['flood'],[]
21626,1352058678019502080,2021-01-21,03:01:23,200,202811175,derbyshiredales,The @envagency has placed new #FloodWarning on...,"['floodwarning', 'whatstandwell', 'cromford', ...",[]

In [6]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21627 entries, 0 to 21626
Data columns (total 11 columns):
id          21627 non-null int64
date        21627 non-null object
time        21627 non-null object
timezone    21627 non-null int64
user_id     21627 non-null int64
username    21627 non-null object
tweet       21627 non-null object
hashtags    21627 non-null object
cashtags    21627 non-null object
retweet     21627 non-null bool
reply_to    21627 non-null object
dtypes: bool(1), int64(3), object(7)
memory usage: 1.7+ MB